<div class="app-layout">
  <mat-toolbar color="primary" class="top-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" style="color: grey; margin-right: 15px;">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="sidenav.close()">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Știri</span>
        </a>
        <a mat-list-item routerLink="/sources" (click)="sidenav.close()">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Surse RSS</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>